/* SASS Variables */

@mixin MarginSet() {
    margin: auto;
    margin-top: 15%;
}

$NavFont: Roboto Condensed;
$MontSerrat: 'Montserrat', sans-serif;

/* Body and genera */


body {
    margin: 0;
}

footer {
    border: 1px solid black;
}

/* Nav bar */

nav { 
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px;
    border-bottom: 1px solid black;
}

nav {

    div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-family: $NavFont;
        font-weight: 400;
        background: none;
        color: black;
    }

    a:hover {
        border-bottom: 1px solid black;
    }


    ion-icon, i {
        font-size: 30px;
        color: black;
    }

}

/* All container */ 

.Super-container {
    height: 100%;
}

/* Home Section */

.Profile {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    width: 50%;
    font-family: $MontSerrat;
    font-weight: 800;

    button {
        width: 200px;
        padding: 10px;
        text-align: center;
        outline: none;
        background: none;
        border: 1px solid black;
        border-radius: 7px;
        font-family: $MontSerrat;
        font-weight:bold;
    
    }

    button:hover {
        background: black;
        color: white;
    }
}

.ProfilePic {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;

    img {
        width: 100%;
        border-radius: inherit;
    }
}

/* About me section */

.AboutContent {
    display: flex;
    align-content: center
}

.AboutContent {
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 30px;
    align-content: center;
    width: 80%;

    p {
        font-family: $MontSerrat;
        font-weight: 800;
    }
}


.AboutSection {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 200px;

    h2 {
        font-size: 2em;
        font-family: $MontSerrat;
    }

    img {
        width: 100%;
        border-radius: 10px;
        margin-top: 5%;
    }
}

.AboutSection {
    display: none;
}

/* Skills and Portfolio */

.SkillsPortSection {
    padding-bottom: 200px;
    font-family: $MontSerrat;
}

.SP-Container {
    margin: auto;
    margin-top: 5%;
}

.Skill-list {
    width: 90%;
    margin: auto;

    h2 {
        text-align: center;
    }
}

.Skill-sublist {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 55px;
    margin-top: 5%;

    .Skill-Details {
        display: grid;
        grid-template-columns: 30% 70%;

        div {

            ion-icon {
                font-size: 65px;
                margin-left: 25%;
                margin-top: 25%;
            }

            p {
                font-size: 15px;
                color: black;
                font-weight: 700;
            }

            a{
                font-size: 2em;
                text-decoration: none;
                color: black;  
                font-weight: 700;
            }
        }
    }

}



.Portfolio-container {
    margin-top: 8%;


    h2 {
        font-size: 25px;
        margin: 30px;
    }
}

.Portfolio-list {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.Portfolio-list {
    div {
        height: 150px;

        img {
            width: 100%;
            height: 150px;
        }
    }

    .soon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.SkillsPortSection {
    display: none;
}

/* Desactivated stuff */

.ContactSec {
    display: none;
}

#MobilePic {
    display: none;
}

#ContactBtn {
    display: none;
}


/* Footer and mobile settings */




@media(max-width: 480px)  {


    #ContactBtn {
        display: block;
    }

   
    nav {
        position: fixed;
        bottom: 0%;
        background: white;
        border-top: 1px solid black;
        display: block;
        width: 100%;
    }
    
    .DarkBtn, .WorkNets {
        display: none;
    }

    .Nav-Guide {
         a {
             font-size: 20px;
         }
    }

    .AboutContent {
        display: grid;
        grid-template-columns: 100%;
    }

    .Skill-list {
        margin-top: 25%;
    }

    .Skill-sublist {
        grid-template-columns: 100%;
        margin-top: 30%;

        ion-icon {
            font-size: 25px;
        }

        a {
            font-size: 15px;
        }

        p {
            font-size: 10px;
        }
    }

    .Portfolio-container {
        margin-top: 55%;
        text-align: center;
    }

    .Portfolio-list {
        grid-template-columns: repeat(2, 50%);
    }

    .ContactSec {
        width: 100%;
        padding-bottom: 200px;

        .ContactContent {
            width: inherit;
            margin-top: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px;

            a {
                display: flex;
                flex-direction: column;
                text-align: inherit;
                font-family: $MontSerrat;
                font-weight: 800;
                gap: 10px;
                text-decoration: none;
                background: none;
            }

            ion-icon, i {
                font-size: 70px;
            }
        }
    }

    
}

